/* Universal styles */

html {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
}

body {
  max-width: 1500px;
  margin: 0 auto;
}
/* Header */

header {
  width: 100%;
  align-content: center;
}

.banner {
  display: flex;
  color: hsl(220, 20%, 50%);
  height: 64px;
  margin: 0 auto;
}

.icon {
  display: none;
}

.logo {
  display: inline-flex;
  font-size: 1rem;
  align-items: center;
  width: 50%;
}

.logo img {
  padding-left: 24px;
  height: 2rem;
}

.nav {
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  padding-left: 24px;
}

.nav span {
  padding-right: 16px;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.block {
  display: flex;
  width: auto;
  background-color: hsl(211, 3%, 77%);
}

.blocks {
  display: block;
}

.blocks img {
  width: 60%;
  height: auto;
  float: left;
  padding: 32px 24px;
}

 .motto {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 30%;
   justify-content: center;
 }

.motto h2 {
  font-size: 2.5rem;
}

.motto h3 {
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.motto button {
  background-color: hsl(220, 20%, 50%);
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  color: white;
  font-size: 1.15rem;
}

 /* Main Content */

.main {
  display: flex;
  width: 100%;
}

.main span {
  margin-bottom: 32px;
}

.main-block {
  width: 60%;
  height: auto;
  flex-shrink: 0;
  padding: 32px 24px;
  border-right: 1px solid gray;
}

.main-block img {
  width: 100%;
  height: auto;

}

.main-block h2 {
  font-size: 1.5rem;
  width: auto;
  padding-top: 32px;
  padding-bottom: 24px;
}

.main-block p {
  width: auto;

}

/* Sidebar */

.sidebar {
  width: 40%;
  padding-top: 16px;

}

.info {
  width: 100%;
  display: flex;
  border-bottom: 1px solid gray;
}

.info:last-child {
  background-color: hsl(220, 20%, 50%);
}

.info img {
  width: 35%;
  height: auto;
  padding: 16px 16px;
  align-self: center;
}

.mobile {
  display: none;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: auto;
  width: 65%;

}

.text h6 {
  font-size: 1.5rem;
  padding-bottom: 8px;

}

.text p {
  padding-bottom: 8px;
}

/* Secondary Content */

.sec-content {
  width: 100%;
  background-color: hsl(211, 3%, 77%);
}

.sec-content h3 {
  padding-top: 32px;
  text-align: center;
  font-size: 1.5rem;
}

.grid {
  display: inline-flex;
  justify-content: center;
  padding: 32px 72px;
  flex-wrap: wrap;
}

.class {
  background-color: white;
  width: 350px;
  flex-wrap: wrap;
  margin-right: 32px;
  margin-bottom: 32px;
  padding-bottom: 24px;
}

.class img {
  width: 350px;
  height: auto;
}

.class h6 {
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 8px;
  font-size: 1.5rem;
}

.class p {
  padding-bottom: 8px;
  padding-left: 16px;
}

/* Tertiary Content */

.ter-content {
  width: 100%;
}

.ter-content h4 {
  padding-top: 32px;
  text-align: center;
  font-size: 1.5rem;
}

.ter-contentblock {
  display: flex;
  width: 100%;
}

.video {
  width: 60%;
  margin: 32px 24px;
}

.video h6 {
  font-size: 1.5rem;
  padding-top: 24px;
}

.video p {
  padding-top: 8px;
}

/* Footer */

#footer {
  border-top: 1px solid lightgray;
  padding-left: 24px;
  padding-top: 16px;
}

@media only screen and (max-width: 500px) {
/* Header */

  .icon {
    display: block;
  }

.nav {
  width: 100%;
  justify-content: space-between;
  padding: 0%;
  margin: 0%;
}

  .headtext, .logo {
    display: none;
  }

  .blocks {
    padding-bottom: 32px;

}

  .blocks img {
    width: 100%;
    padding: 0;
    margin-bottom: 32px;
  }

  .motto {
    display: block;
    width: 100%;
    height: auto;

  }

  .motto h2 {
    padding-bottom: 32px;
    padding-left: 16px;
  }

  .motto h3 {
    padding-bottom: 24px;
    padding-left: 16px;
  }

  .motto button {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

/* Main Content */

  .main-block {
    display: none;
    padding: 0;
  }

  .sidebar {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .info {
    display: unset;
    width: 90%;
    height: auto;
    border: none;
    padding: 0;

  }

  .info img {
    display: none;
  }

  .mobile {
    display: block;
    width: 90%;
  }

  .mobile img {
    width: 100%;
    padding: 16px;
  }

  .text {
    width: 90%;
    margin-left: 16px;
  }

/* Secondary Content */

  .sec-content {
    background-color: white;
  }

  .grid {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 24px;
    padding: 0%;
}

  .class {
    width: 100%;
    background-color: lightgray;
    margin-bottom: 8px;
    padding: 0%;
  }

  .class h6 {
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 24px;
  }

  .class img, .class p {
    display: none;
  }

/* Tertiaty Content */

  .ter-content {
    margin-bottom: 24px;
  }
  .ter-content h4 {
    padding-bottom: 16px;
}

  .ter-contentblock .sidebar{
    display: none;
  }

  .video {
    margin: 0;
    width: 100%;
  }

  .video h6, .video p {
    display: none;
  }

/* Footer */

  #footer p {
    display: none;
  }
}
