html {
  font-size: 18px;
  line-height: 1.4;
}

/* Header */

header {
  width: 100%;
  margin-top: 0;
}

.banner {
  display: flex;
  align-items: center;
  width: 960px;
  margin: 0 auto;
  background-color: white;
  color: gray;
}

.logo {
  display: inline-flex;
  font-family: Helvetica;
  font-size: 1rem;
  width: 1000px;
  margin: 0 auto;
  align-items: center;
}

.logo img {
  padding-left: 24px;
  height: 2rem;
}

nav {
  font-family: Helvetica;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
}

nav span {
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
}
