/* Universal styles */

html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  width: 1040px;
}
/* Header */

header {
  width: 100%;
  align-content: center;
}

.banner {
  display: flex;
  color: gray;
  height: 64px;
  width: 960px
  margin: 0 auto;
}

.logo {
  display: inline-flex;
  font-family: Helvetica;
  font-size: 1rem;
  align-items: center;
  width: 50%;
}

.logo img {
  padding-left: 24px;
  height: 2rem;
}

.nav {
  display: flex;
  font-family: Helvetica;
  font-size: 1rem;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  padding-left: 24px;
}

.nav span {
  padding-right: 16px;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.block {
  display: flex;
  width: auto;
  background-color: lightgray;
}

.blocks {
  display: block;
}

.blocks img {
  width: 60%;
  height: auto;
  float: left;
  padding: 32px 24px;
}
 .motto {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 30%;
   align-items: ;
   justify-content: center;
 }

.motto h2 {
  font-size: 2.5rem;
}

.motto h3 {
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.motto button {
  background-color: darkgray;
  padding-top: 8px;
  padding-bottom: 8px;
}
 /* Main Content */

.main-block {
  display: block;
}

.main-block img {
  width: 60%;
  height: auto;
  padding: 32px 24px;
}
